data/**/*.jpg
data/**/*.jpeg
data/**/*.png
data/**/*.zip

outputs/checkpoints/*.pt
outputs/checkpoints/*.pth
outputs/logs/*
outputs/figures/*.png
!outputs/checkpoints/.gitkeep
!outputs/logs/.gitkeep
!outputs/figures/.gitkeep

__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/
.env
.venv/

